.animation { 
    height: 200px;
    width: 200px;
    background-color: #333;
    position: relative;
    color: #fff;
    animation-name: animate;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes animate {
    0% {
        background-color: #333;
        left: 0%;
    }

    25% {
        background-color: yellow;
        left: 25%;
        bottom: 50%;
    }

    50% {
        background-color: blue;
        left: 50%;
        bottom: 200px;
    }

    75% {
        background-color: green;
        left: 75%;
    }

    100% {
        background-color: red;
        left: 100%;
    }
}

/* Using from and to keyword */
/* @keyframes animate {
    from{background-color: #333;
    left: 0;}
    to{background-color: red;
        left: 100%;
    }
} */